<%= stylesheet_link_tag 'new', :media => "all" %>

<header> 
  <div class = "buttons">
    <div class = "logo2">
        <%= image_tag "name_white.png", width: '100%', height: '100%' %>
    </div>
      <% if user_signed_in? %>
        <%= link_to "マイページへ", user_path(current_user.id), class:"header_button" %>
      <% end %>
      <%= link_to "新規投稿へ", new_post_path, class:"header_button", class:"current" %>
      <%= link_to "作品ページ", posts_path, class:"header_button" %>
</header>

<div class="profile">
  <%= image_tag current_user.image_url, size: "250x200" if current_user.image? %>
  <p><%= current_user.name %></p>
</div>

<div class="post_new">
  <%= form_for @post do |f| %>
    <div class="field">
      <p><%= f.label :画像を選択する %></p>
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <p><%= f.label :作品の説明を追加する  %></p>
      <%= f.text_area :about, :size => "30x2" %>
    </div>

    <%= f.submit "投稿する" %>
  <% end %>
</div>

<%= link_to "一覧に戻る", posts_path %>